@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap');

body.theme-opaque {
	--border-w-lg: calc(2rem / 16);
	--border-radius-lg: 0.5rem;
	--border-w-sm: calc(1rem / 16);
	--border-radius-sm: 0.25rem;
	--blur-radius: 0;
	--p-nav: 0.5rem;
	--p-panel: 1rem;
	--m-container: 0.5rem;
	--m-button-y: 0.5rem;
	--m-button-r: 0.5rem;
	--p-fieldset: 0.5rem 1rem;
	--g-grid: 1rem;

	font-family: 'Roboto', sans-serif;
	color: var(--col-txt);
	background-color: var(--col-container-low);
	/*
	background: url(bg.jpg);
	*/
	transition: background 0.3s, color 0.2s;
}

body.theme-opaque.dark {
	--color-primary: lch(68 50 250);
	--color-frost: lch(100 0 0 / 0.25);
	--color-focus: lch(100 0 0 / 0.5);

	/*
	background: url(bg-dark.jpg);
	*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

/*
h1, h2, h3 {
	color: var(--col-on-surface);
}

a, a:link, a:visited {
	color: var(--col-on-surface);
}
*/

/* vim: ts=4
 */
