/*********/
/* Reset */
/*********/
* {
	box-sizing: border-box;
	scrollbar-color: var(--col-bg-emph) transparent;
	scrollbar-width: thin;
}
button {
	cursor: pointer;
}

*::-webkit-scrollbar {
	width: 10px;
	/*
	width: 0.5rem;
	background: #000000;
	*/
	background: var(--col-bg-base);
}
*::-webkit-scrollbar-thumb {
	width: 0.5rem;
	background: var(--col-bg-emph);
	box-shadow: none;
}
*::-webkit-scrollbar-track, *::-webkit-scrollbar-track-piece {
	background: var(--col-bg-base);
	/*
	background: var(--col-bg);
	background: transparent;
	*/
}

.m-vbox .sui-data-table .sui-inside .sui-row > .sui-cell {
	overflow: visible;
}
.sui-data-table .sui-inside .sui-row {
	align-items: center;
}

/************/
/* Defaults */
/************/
body {
	--gap: var(--g-grid);
}

/****************/
/* Layout Boxes */
/****************/
.m-hbox {
	display: flex;
}

.m-vbox {
	display: flex;
	flex-direction: column;
}

.m-hbox.wrap, .m-vbox.wrap {
	flex-wrap: wrap;
}

.m-hbox > .fill, .m-vbox > .fill {
	flex: 1;
}

/*********/
/* Panel */
/*********/
.m-panel {
	display: flex;
	flex-direction: column;
	background: var(--col-bg);
	backdrop-filter: blur(var(--blur-radius));
	border-radius: var(--border-radius-lg);
	padding: var(--p-panel);
	/*
	box-shadow: inset 0px 0px 2rem var(--col-bg-emph);
	*/
	transition: background 0.3s, border 0.3s, color 0.3s;
	position: relative;
}

.m-panel-body {
	flex: 1;
}

.m-panel.primary {
	border-color: var(--col-primary);
}

/**********/
/* Button */
/**********/
.m-button {
	display: flex;
	border-radius: var(--border-radius-sm);
	background: var(--col-secondary);
	border: var(--border-w-sm) solid var(--col-secondary-v);
	color: var(--col-text);
	box-shadow: inset 0px 0px 1rem var(--col-bg-emph);
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: color, background 0.3s;
}

.m-button.primary {
	background: var(--col-primary);
	border-color: var(--col-primary-v);
}

.m-button.secondary {
	background: var(--col-secondary);
	border-color: var(--col-secondary-v);
}

.m-button.small {
	font-size: 0.75rem;
	padding: 0.25rem 0.75rem;
}

.m-button.large {
	font-size: 1.5rem;
	padding: 0.5rem 1.5rem;
}

.m-button.float {
	border-radius: 2rem;
}

.m-button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

.m-button:focus-visible {
	outline: none;
	box-shadow: inset 0px 0px 1rem var(--col-bg-emph), 0px 0px 1rem var(--col-focus);
}

.m-link {
	display: flex;
	border: none;
	border-radius: var(--border-radius-sm);
	background: none;
	color: var(--col-txt);
}

.m-link:focus-visible {
	outline: none;
	box-shadow: inset 0px 0px 1rem var(--col-bg-emph), 0px 0px 1rem var(--col-focus);
}

/*******/
/* Nav */
/*******/
.m-nav {
	display: flex;
	align-items: center;
	position: relative;
	background: var(--col-bg);
	backdrop-filter: blur(var(--blur-radius));
	border-radius: var(--border-radius-lg);
	z-index: 1;
	margin: 0;
	padding: var(--p-nav);
}

.m-nav a {
	text-decoration: none;
}

.m-nav-group {
	display: flex;
	align-items: center;
	margin: 0;
	& li { display: flex; }
}

.m-nav-item, .m-nav-link {
	display: flex;
	border-radius: var(--border-radius-sm);
}

.m-nav-item.active, .m-nav-link.active {
	color: var(--col-txt-emph);
}

.m-nav-item:focus-visible, .m-nav-link:focus-visible {
	outline: none;
	box-shadow: inset 0px 0px 1rem var(--col-bg-emph), 0px 0px 1rem var(--col-focus);
}

/************/
/* Dropdown */
/************/
.m-dropdown {
	position: relative;
	display: inline-block;
}

.m-dropdown > summary {
	display: flex;
}

.m-dropdown > :last-child {
	position: absolute;
	left: 0;
	white-space: nowrap;
	z-index: 100;
	background: var(--col-bg-v);
	box-shadow: inset 0px 0px 1rem var(--col-bg-emph);
}

.m-dropdown.up > :last-child {
	bottom: 2rem;
}

/*********/
/* Forms */
/*********/
.m-fieldset {
	border: 1px solid var(--col-secondary-v);
	padding: var(--p-fieldset);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.m-fieldset > legend {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.m-input, .m-select, .m-input-group {
	border-radius: var(--border-radius-sm);
	border: var(--border-w-sm) solid var(--col-tertiary-v);
	background: var(--col-bg-emph);
	color: var(--col-text);
	box-shadow: inset 0px 0px 1rem var(--col-bg-emph);
	width: 100%;
}
.m-input, .m-select {
	padding: 0.5rem 0.5rem;
}
.m-select > option {
	color: var(--col-text);
	background: var(--col-bg-base);
}

.m-input:focus-visible, .m-select:focus-visible {
	outline: none;
	box-shadow: inset 0px 0px 1rem var(--col-bg-emph), 0px 0px 1rem var(--col-focus);
}

.m-input-group {
	display: flex;
}

.m-input-group:has(:focus) {
	box-shadow: inset 0px 0px 1rem var(--col-bg-emph), 0px 0px 1rem var(--col-focus);
}
.m-input-group > .m-input:focus-visible, .m-input-group > .m-select:focus-visible {
	box-shadow: none;
}

.m-input-group > * {
	border-width: var(--border-w-sm);
	background: transparent;
	box-shadow: none;
	align-items: center;
	display: flex;
}

.m-input-group > *:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.m-input-group > *:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*********/
/* Modal */
/*********/
.m-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
.m-modal.show {
	display: flex;
	align-items: center;
	justify-content: center;
}

.m-modal > .m-dialog {
	position: relative;
	width: auto;
}

/* vim: ts=4
 */
