.c-badge {
	border-radius: 9rem;
	font-size: 0.75em;
	font-weight: 700;
	line-height: 1;
	min-width: calc(0.75em + 0.5rem);
	min-height: calc(0.75em + 0.5rem);
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	position: absolute;
	transform: translate(-50%, -50%) !important;
	/*
	padding: 0.25rem;
	*/

	&.tl { top: 0; left: 0; }
	&.tr { top: 0; left: 100%; }
	&.bl { top: 100%; left: 0; }
	&.br { top: 100%; left: 100%; }
}

/* vim: ts=4
 */
