/****************/
/* Layout Boxes */
/****************/
.c-hbox {
	display: flex;
}

.c-vbox {
	display: flex;
	flex-direction: column;
}

.c-hbox.wrap, .c-vbox.wrap {
	flex-wrap: wrap;
}

.c-hbox > .fill, .c-vbox > .fill {
	flex: 1;
}

/* vim: ts=4
 */
