/****************/
/* Layout Boxes */
/****************/
.c-hbox {
	display: flex;
	gap: var(--gap);
}

.c-vbox {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.c-hbox.wrap, .c-vbox.wrap {
	flex-wrap: wrap;
}

.c-hbox > .fill, .c-vbox > .fill {
	flex: 1;
}

/* c-group */
/*
.c-group {
	display: flex;
	align-self: start;
	align-items: center;
	flex: 1 0 0;
	gap: var(--gap);

	& > * {
		flex: 1 0 0;
	}
}

.c-group > * {
	flex: 1 1 0;
	width: 0;
}
*/
.c-group {
	align-self: start;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: var(--gap);
}


/* vim: ts=4
 */
