.c-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap);
	/*
	border-radius: var(--border-radius-sm);
	*/
	border-radius: 1.25rem;
	border: 0px;
	box-shadow: inset 0px 0px 1rem var(--col-frost);
	height: 2.5rem;
	padding: 0 1rem;
	cursor: pointer;
	user-select: none;
	--col-bg: var(--col-secondary);
	--col-on: var(--col-on-secondary);
	--col-em: var(--col-em-secondary);
	background-color: lch(from var(--col-bg) l c h / var(--op-button));
	color: var(--col-on);
	transition: color 0.3s, background-color 0.3s;
	white-space: nowrap;

	&.clicked {
		background-color: lch(from var(--col-on) l c h);
		color: var(--col-bg);
	}

	&.link {
		background: none;
		border-color: transparent;
		box-shadow: none;
	}

	&.small {
		font-size: 0.75rem;
		padding: 0.25rem 0.75rem;
	}

	&.large {
		font-size: 1.5rem;
		padding: 0.5rem 1.5rem;
	}

	&.float {
		position: fixed;
		bottom: 0;
		right: 0;
		border-radius: 3rem;
		height: auto;
		padding: 1rem;
		z-index: 10;
	}
	&.icon {
		padding: 0.5rem;
	}

	&[disabled] {
		opacity: var(--op-disabled);
		cursor: not-allowed;
	}

	&:focus-visible {
		outline: none;
		box-shadow: inset 0px 0px 1rem var(--col-frost), 0px 0px 1rem var(--col-focus);
	}
	&.active {
		background: var(--col-container-secondary);
		color: var(--col-on-container-secondary);
	}

	&.primary {
		--col-bg: var(--col-primary);
		--col-on: var(--col-on-primary);
		--col-em: var(--col-em-primary);
	}
	&.primary.active {
		background: var(--col-container-primary);
		color: var(--col-on-container-primary);
	}
	&.container-primary {
		--col-bg: var(--col-container-primary);
		--col-on: var(--col-on-container-primary);
		--col-em: var(--col-em-container-primary);
	}
	&.container-primary.active {
		background: var(--col-primary);
		color: var(--col-on-primary);
	}

	&.secondary {
		--col-bg: var(--col-secondary);
		--col-on: var(--col-on-secondary);
		--col-em: var(--col-em-secondary);
	}
	&.secondary.active {
		background: var(--col-container-secondary);
		color: var(--col-on-container-secondary);
	}
	&.container-secondary {
		--col-bg: var(--col-container-secondary);
		--col-on: var(--col-on-container-secondary);
		--col-em: var(--col-em-container-secondary);
	}
	&.container-secondary.active {
		background: var(--col-secondary);
		color: var(--col-on-secondary);
	}

	&.accent {
		--col-bg: var(--col-accent);
		--col-on: var(--col-on-accent);
		--col-em: var(--col-em-accent);
	}
	&.accent.active {
		background: var(--col-container-accent);
		color: var(--col-on-container-accent);
	}
	&.container-accent {
		--col-bg: var(--col-container-accent);
		--col-on: var(--col-on-container-accent);
		--col-em: var(--col-em-container-accent);
	}
	&.container-accent.active {
		background: var(--col-accent);
		color: var(--col-on-accent);
	}

	&.error {
		background-color: var(--col-error);
		color: var(--col-on-error);
	}
	&.container-error {
		background-color: var(--col-container-error);
		color: var(--col-on-container-error);
	}

	&.warning {
		background-color: var(--col-warning);
		color: var(--col-on-warning);
	}
	&.container-warning {
		background-color: var(--col-container-warning);
		color: var(--col-on-container-warning);
	}

	&.success {
		background-color: var(--col-success);
		color: var(--col-on-success);
	}
	&.container-success {
		background-color: var(--col-container-success);
		color: var(--col-on-container-success);
	}

	.separator {
		align-self: stretch;
		margin: 0.25rem 0.5rem;
		border-right: 1px dashed var(--col-on);
		cursor: default;
	}
}

.c-link {
	display: flex;
	align-items: center;
	border: none;
	background: none;
	color: var(--col-em);
	transition: color 0.3s;
	cursor: pointer;
	user-select: none;

	&.text {
		text-decoration: dotted;
		text-decoration-line: underline;
	}

	&.primary {
		color: var(--col-primary);
	}
	&.secondary {
		color: var(--col-secondary);
	}
	&.accent {
		color: var(--col-accent);
	}

	&.error {
		color: var(--col-error);
	}
	&.warning {
		color: var(--col-warning);
	}
	&.success {
		color: var(--col-success);
	}

	&[disabled] {
		opacity: var(--op-disabled);
		cursor: not-allowed;
	}

	&:focus-visible {
		outline: none;
		box-shadow: inset 0px 0px 1rem var(--col-frost), 0px 0px var(--sh-focus) var(--col-focus);
	}

	&.clicked {
		color: var(--col-focus);
	}
}

.c-icon {
	height: 1.5rem;
	border: none;
	border-radius: var(--border-radius-sm);
	background: none;
	color: var(--col-secondary);
	cursor: pointer;
	user-select: none;

	&.primary {
		color: var(--col-primary);
	}
	&.secondary {
		color: var(--col-secondary);
	}
	&.accent {
		color: var(--col-accent);
	}

	&.error {
		color: var(--col-error);
	}
	&.warning {
		color: var(--col-warning);
	}
	&.success {
		color: var(--col-success);
	}

	&:focus-visible {
		outline: none;
		box-shadow: inset 0px 0px 1rem var(--col-frost), 0px 0px var(--sh-focus) var(--col-focus);
	}
}

/* vim: ts=4
 */
