/********/
/* Tabs */
/********/
.c-tabs {
	display: flex;
	align-items: center;

	/* Color system */
	padding: var(--space-1);
	gap: var(--space-1);

	&.wrap {
		flex-wrap: wrap;
	}
}

.c-tab {
	display: inline-flex;
	align-items: center;
	gap: var(--space-1);
	border: none;
	border-bottom: var(--border-w-lg) solid transparent;
	background: none;
	padding: var(--space-1) var(--space-2);
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	color: var(--col-on);
	transition: color 0.3s, border-color 0.3s;

	&:hover {
		color: var(--col-em);
	}

	&.active {
		color: var(--col-em);
		border-color: var(--col-em);
	}
}

.c-tab-count {
	font-size: 0.85em;
	opacity: 0.7;
	font-variant-numeric: tabular-nums;
}

/* vim: ts=4
 */
