/* Grid utilities */
.c-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	--gap: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	&.fluid {
		max-width: 100%;
	}
}

.c-container > .row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	position: relative;
	gap: 0 !important; /* Always use margin-based gaps, not CSS gap */
	margin: 0 calc(var(--gap) / -2);
	& > .col, & > [class^="col-"], & > [class*=" col-"] {
		margin: 0 calc(var(--gap) / 2);
	}

	&:not(:last-child) {
		margin-bottom: var(--gap);
	}
}

.c-container > .row > .col { flex: 0 0 calc(100% - var(--gap));  max-width: calc(100% - var(--gap)); }
.c-container > .row > .col-1 { flex: 0 0 calc(100% / 12 - var(--gap));  max-width: calc(100% / 12 - var(--gap)); }
.c-container > .row > .col-2 { flex: 0 0 calc(200% / 12 - var(--gap));  max-width: calc(200% / 12 - var(--gap)); }
.c-container > .row > .col-3 { flex: 0 0 calc(300% / 12 - var(--gap));  max-width: calc(300% / 12 - var(--gap)); }
.c-container > .row > .col-4 { flex: 0 0 calc(400% / 12 - var(--gap));  max-width: calc(400% / 12 - var(--gap)); }
.c-container > .row > .col-5 { flex: 0 0 calc(500% / 12 - var(--gap));  max-width: calc(500% / 12 - var(--gap)); }
.c-container > .row > .col-6 { flex: 0 0 calc(600% / 12 - var(--gap));  max-width: calc(600% / 12 - var(--gap)); }
.c-container > .row > .col-7 { flex: 0 0 calc(700% / 12 - var(--gap));  max-width: calc(700% / 12 - var(--gap)); }
.c-container > .row > .col-8 { flex: 0 0 calc(800% / 12 - var(--gap));  max-width: calc(800% / 12 - var(--gap)); }
.c-container > .row > .col-9 { flex: 0 0 calc(900% / 12 - var(--gap));  max-width: calc(900% / 12 - var(--gap)); }
.c-container > .row > .col-10 { flex: 0 0 calc(1000% / 12 - var(--gap));  max-width: calc(1000% / 12 - var(--gap)); }
.c-container > .row > .col-11 { flex: 0 0 calc(1100% / 12 - var(--gap));  max-width: calc(1100% / 12 - var(--gap)); }
.c-container > .row > .col-12 { flex: 0 0 calc(1200% / 12 - var(--gap));  max-width: calc(1200% / 12 - var(--gap)); }

@media screen and (min-width: 768px) {
	.c-container > .row {
		& > .col-md-1 { flex: 0 0 calc(100% / 12 - var(--gap)); max-width: calc(100% / 12 - var(--gap)); }
		& > .col-md-2 { flex: 0 0 calc(200% / 12 - var(--gap)); max-width: calc(200% / 12 - var(--gap)); }
		& > .col-md-3 { flex: 0 0 calc(300% / 12 - var(--gap)); max-width: calc(300% / 12 - var(--gap)); }
		& > .col-md-4 { flex: 0 0 calc(400% / 12 - var(--gap)); max-width: calc(400% / 12 - var(--gap)); }
		& > .col-md-5 { flex: 0 0 calc(500% / 12 - var(--gap)); max-width: calc(500% / 12 - var(--gap)); }
		& > .col-md-6 { flex: 0 0 calc(600% / 12 - var(--gap)); max-width: calc(600% / 12 - var(--gap)); }
		& > .col-md-7 { flex: 0 0 calc(700% / 12 - var(--gap)); max-width: calc(700% / 12 - var(--gap)); }
		& > .col-md-8 { flex: 0 0 calc(800% / 12 - var(--gap)); max-width: calc(800% / 12 - var(--gap)); }
		& > .col-md-9 { flex: 0 0 calc(900% / 12 - var(--gap)); max-width: calc(900% / 12 - var(--gap)); }
		& > .col-md-10 { flex: 0 0 calc(1000% / 12 - var(--gap)); max-width: calc(1000% / 12 - var(--gap)); }
		& > .col-md-11 { flex: 0 0 calc(1100% / 12 - var(--gap)); max-width: calc(1100% / 12 - var(--gap)); }
		& > .col-md-12 { flex: 0 0 calc(1200% / 12 - var(--gap)); max-width: calc(1200% / 12 - var(--gap)); }
	}

	.c-dialog {
		width: 768px;
	}
}

@media screen and (min-width: 1200px) {
	.c-container > .row {
		& > .col-lg-1 { flex: 0 0 calc(100% / 12 - var(--gap)); max-width: calc(100% / 12 - var(--gap)); }
		& > .col-lg-2 { flex: 0 0 calc(200% / 12 - var(--gap)); max-width: calc(200% / 12 - var(--gap)); }
		& > .col-lg-3 { flex: 0 0 calc(300% / 12 - var(--gap)); max-width: calc(300% / 12 - var(--gap)); }
		& > .col-lg-4 { flex: 0 0 calc(400% / 12 - var(--gap)); max-width: calc(400% / 12 - var(--gap)); }
		& > .col-lg-5 { flex: 0 0 calc(500% / 12 - var(--gap)); max-width: calc(500% / 12 - var(--gap)); }
		& > .col-lg-6 { flex: 0 0 calc(600% / 12 - var(--gap)); max-width: calc(600% / 12 - var(--gap)); }
		& > .col-lg-7 { flex: 0 0 calc(700% / 12 - var(--gap)); max-width: calc(700% / 12 - var(--gap)); }
		& > .col-lg-8 { flex: 0 0 calc(800% / 12 - var(--gap)); max-width: calc(800% / 12 - var(--gap)); }
		& > .col-lg-9 { flex: 0 0 calc(900% / 12 - var(--gap)); max-width: calc(900% / 12 - var(--gap)); }
		& > .col-lg-10 { flex: 0 0 calc(1000% / 12 - var(--gap)); max-width: calc(1000% / 12 - var(--gap)); }
		& > .col-lg-11 { flex: 0 0 calc(1100% / 12 - var(--gap)); max-width: calc(1100% / 12 - var(--gap)); }
		& > .col-lg-12 { flex: 0 0 calc(1200% / 12 - var(--gap)); max-width: calc(1200% / 12 - var(--gap)); }
	}
}

@media screen and (max-width: 767px) {
	.c-container > .row .sm-hide-dyn {
		transition: transform .2s ease-in-out;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 10;

		&:not(.show, .hide-left, .hide-right) {
			display: none;
		}
		&.hide-left, &.hide-right {
			transition: transform .2s ease-in-out;
		}
		&.hide-left:not(.show) {
			/* display: none; */
			transform: translateX(-100%);
		}
		&.hide-right:not(.show) {
			/* display: none; */
			transform: translateX(100%);
		}
	}

	.c-dialog {
		width: 100%;
	}

	.sm-hide { display: none !important; }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.c-container > .row .md-hide-dyn {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 10;

		&:not(.show, .hide-left, .hide-right) {
			display: none;
		}
		&.hide-left, &.hide-right {
			transition: transform .2s ease-in-out;
		}
		&.hide-left:not(.show) {
			/* display: none; */
			transform: translateX(-100%);
		}
		&.hide-right:not(.show) {
			/* display: none; */
			transform: translateX(100%);
		}
	}

	.md-hide { display: none !important; }
}

@media screen and (min-width: 1200px) {
	.c-container > .row .lg-hide-dyn {
		transition: transform .2s ease-in-out;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 10;

		&:not(.show, .hide-left, .hide-right) {
			display: none;
		}
		&.hide-left:not(.show) {
			/* display: none; */
			transform: translateX(-100%);
		}
		&.hide-right:not(.show) {
			/* display: none; */
			transform: translateX(100%);
		}
	}
	.lg-hide { display: none !important; }
}

/* vim: ts=4
 */
